html {
font-family: monospace;
margin: 0;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

input[type="email"] {
font-family: monospace;
}

button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

h1 {
font-family: sans-serif;
font-size: 72px;
}

h2 {
font-family: sans-serif;
font-size: 24px;
}

#header {
margin-top: 50px;
line-height: .5;
}

#footer {
margin-bottom: 50px;
}
