body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 24px;
}

#header
{
    margin-top: 50;
    line-height: .5;
}

#footer
{
    margin-bottom: 50;
}